In [10]:
import pandas as pd
import numpy as np

import sidetable as stb

import matplotlib.pyplot as plt
import seaborn as sns

from scipy.stats import skew
from scipy.stats import kurtosistest
from scipy import stats

plt.rcParams['figure.figsize'] = (10, 10)
pd.options.display.max_columns = None

In [6]:
df = pd.read_csv("data/bikes.csv", index_col= 0)
df.drop(["instant"], axis= 1, inplace= True)

,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,01-01-2018,spring,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,02-01-2018,spring,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,03-01-2018,spring,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,04-01-2018,spring,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,05-01-2018,spring,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,27-12-2019,spring,1,12,0,4,1,2,10.420847,11.33210,65.2917,23.458911,247,1867,2114
726,28-12-2019,spring,1,12,0,5,1,2,10.386653,12.75230,59.0000,10.416557,644,2451,3095
727,29-12-2019,spring,1,12,0,6,0,2,10.386653,12.12000,75.2917,8.333661,159,1182,1341
728,30-12-2019,spring,1,12,0,0,0,1,10.489153,11.58500,48.3333,23.500518,364,1432,1796
729,31-12-2019,spring,1,12,0,1,1,2,8.849153,11.17435,57.7500,10.374682,439,2290,2729

In [8]:
df.shape

(730, 15)

In [11]:
df.stb.missing()

            missing  total  percent
dteday            0    730      0.0
season            0    730      0.0
yr                0    730      0.0
mnth              0    730      0.0
holiday           0    730      0.0
weekday           0    730      0.0
workingday        0    730      0.0
weathersit        0    730      0.0
temp              0    730      0.0
atemp             0    730      0.0
hum               0    730      0.0
windspeed         0    730      0.0
casual            0    730      0.0
registered        0    730      0.0
cnt               0    730      0.0

In [7]:
df.dtypes

dteday         object
season         object
yr              int64
mnth            int64
holiday         int64
weekday         int64
workingday      int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
casual          int64
registered      int64
cnt             int64
dtype: object

In [42]:
df[df["season"] == "summer"]
df.sample()

,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
450,27-03-2019,summer,1,3,0,2,1,1,13.256653,15.7827,29.0,12.541864,531,4571,5102

# CAMBIO NOMBRE COLUMNAS:

In [ ]:
def change_columns_name(df, actual_character, new_character):
    """Cambiar el caracter del nombre de una columna o el nombre completo de la columna por uno nuevo
    Args:
        df (dataframe):  dataframe al que queremos aplicar la función.
        actual_character (str): el caracter o el nombre de la columna que queremos modificar.
        new_character (str): el nombre modificado de la columna.
    Returns:
        dataframe: devuelve un dataframe con los nombres cambiados de las columnas.
    """
    dicc = {}
    for col in df.columns:
        dicc[col] = col.replace(actual_character,new_character)
    df.rename(columns = dicc, inplace = True)

In [44]:
df.rename(columns = {"dteday": "fecha", "season": "estacion", "yr": "año", "mnth": "mes", "holiday": "festivo", "dia_semana", "laborable", "tiempo", "temperatura", "sensacion_termica", "humedad, velocidad_viento", "clientes_casual", "clientes_registrados", "total_bicis"}, axis = "columns")

ValueError: Length mismatch: Expected axis has 15 elements, new values have 14 elements

# CAMBIO DATOS ESTACIÓN:

In [ ]:
# invierno: de 21/12/2018  hasta 20/03/2019
# primavera_18: 21/03/2018 hasta 20/06/2018
# primavera_19: 21/03/2019 hasta 20/06/2019
# verano_18: 21/06/2018 hasta 20/09/2018
# verano_19: 21/06/2019 hasta 21/09/2019
# otoño_18: 22/09/2018 hasta 20/12/2018
# otoño_19: 22/09/2019 hasta 20/12/2019


# seasons = {"invierno": fecha_invierno, "primavera": fecha_primavera}