In [1]:
import pandas as pd
import numpy as np

import sidetable as stb

import matplotlib.pyplot as plt
import seaborn as sns

from scipy.stats import skew
from scipy.stats import kurtosistest
from scipy import stats

import pickle
import listas as lst

from datetime import datetime

In [35]:
df = pd.read_pickle("../data/bikes_predicciones.pkl")
df.sample()

,estacion,año,mes,festivo,dia_sem,laborable,prevision_tiempo,sensacion_termica,humedad,velocidad_viento
235,Verano,2018,agosto,0,viernes,1,1,31.5346,60.5,16.958236

In [36]:
with open ("../data/robust_casual.pkl", "rb") as file:
    robust_casual = pickle.load(file)

In [37]:
with open ("../data/bosque_casual_pred.pkl", "rb") as bosque_casual:
    bosque_casual_pred = pickle.load(bosque_casual)

In [38]:
# creamos un diccionario con datos ficticios:

dicc_usuario = {'estacion': 'Verano', 'año': '2019', 'mes': 'septiembre', 'festivo': 0, 'dia_sem': 'martes', 'laborable': 1,
                'prevision_tiempo': 1, 'sensacion_termica': 23.204, 'humedad': 50.4, 'velocidad_viento': 30.795}

In [39]:
# creamos df

df_usuario = pd.DataFrame(dicc_usuario, index= [0])
lista_col = df_usuario.drop("festivo", axis = 1).columns

In [40]:
lst.lista_dict_casual

for dic, col in zip(lst.lista_dict_casual, lista_col):   
    
    df_usuario[col] = df_usuario[col].map(dic)

In [41]:
reemplazo = {"estacion": "estacion_map", "año": "año_map", "laborable":"laborable_map", "dia_sem": "dia_sem_map", "mes":"mes_map", "prevision_tiempo":"prevision_tiempo_map"}

In [42]:
df_usuario.rename(columns=reemplazo, inplace=True)

In [43]:
df_usuario

,estacion_map,año_map,mes_map,festivo,dia_sem_map,laborable_map,prevision_tiempo_map,sensacion_termica,humedad,velocidad_viento
0,1.5,0.5,2.5,0,0.5,0,2.0,23.204,50.4,30.795

In [44]:
df_usuario = df_usuario.reindex(columns=['sensacion_termica', 'humedad', 'velocidad_viento', 'estacion_map',
       'año_map', 'mes_map', 'dia_sem_map', 'laborable_map',
       'prevision_tiempo_map', 'festivo'])

In [45]:
df_usuario

,sensacion_termica,humedad,velocidad_viento,estacion_map,año_map,mes_map,dia_sem_map,laborable_map,prevision_tiempo_map,festivo
0,23.204,50.4,30.795,1.5,0.5,2.5,0.5,0,2.0,0

In [46]:
df_num = df_usuario[["sensacion_termica", "humedad", "velocidad_viento"]]

In [47]:
df_num

   sensacion_termica  humedad  velocidad_viento
0             23.204     50.4            30.795

In [48]:
robust_casual.transform(df_num)

array([[-0.08588224, -0.58487642,  2.83563901]])

In [49]:
bosque_casual_pred.predict(df_usuario)

array([1125.61752747])